.container {
    padding: 20px;
    color: #0aad5e;
}

.form {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.input {
    flex-grow: 1;
    padding: 8px 12px;
    border: 1px solid #0aad5e;
    border-radius: 8px;
    font-size: 16px;
}

.button {
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 25px;
    color: #ffffff;
    border-radius: 12px;
    background: #0aad5e;
    border: 2px solid #354251;
}
.button:hover {
    background: #0b894c;
    color:#354251;
    border: 2px solid #354251;
    transition: all 0.8s ease;
}


